# Python supports 3 categories of data types:

Basic Types - (integer,float,complex,boolean and string)
Container Types - (List,Tuples, Sets and Dictionary)
User-defined Types - Class

Basic Examples

In [1]:
# integer
print(4)
print(1e309)

4
inf

In [2]:
# float
print(4.5)
print(1.7e308)

4.5
1.7e+308

In [3]:
a=20.6
print(type(a))  #typecasting

<class 'float'>

In [4]:
# boolean
print(True)
print(False)

True
False

In [6]:
a=True
b=False

In [7]:
type(a)

bool

In [8]:
a and b

False

In [9]:
a or b

True

In [10]:
a & b

False

In [11]:
a|b

True

In [12]:
# complex
print(4+5j)

(4+5j)

In [13]:
# string
print('Bihar')
print("Karnataka")
print("""Patna Bangalore""")

Bihar
Karnataka
Patna Bangalore

In [16]:
a='sri'
a

'sri'

In [21]:
a+'prakash' #concat

'sriprakash'

Dynamic_Typing

In [22]:
a=23
a='sri'

Strong_Typing

In [27]:
a="sri"
a+1

TypeError: can only concatenate str (not "int") to str

In [28]:
a="sri"
a+'1'   #always should be string

'sri1'

String Formating

In [29]:
a=100
print("The values is - ",a)

The values is -  100

In [30]:
first_name="Sri"
last_name="Prakash"
print("The first name is {a} and last name is {b}".format(b=last_name,a=first_name))

The first name is Sri and last name is Prakash

In [31]:
#input type
a=input("Enter the number A ")
b=input("enter the number B ") 
print(int(a)+int(b))

Enter the number A 2
enter the number B 3
5

In [10]:
# list
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [11]:
# tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [12]:
#sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [13]:
# dict
print({"Name":"Nitish","Age":30,"gender":"Male"})

{'Name': 'Nitish', 'Age': 30, 'gender': 'Male'}