# List

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [1]:
#Mutable vs Immutable

Immutable

In [2]:
a="sri"
print(a)
type(a)

sri

str

In [3]:
a="prakash"
print(a)

prakash

In [4]:
a[0]='s' #strings are immutable we get an error

TypeError: 'str' object does not support item assignment

Mutable

In [5]:
lst=[1,2,3]
print(lst)
type(lst)

[1, 2, 3]

list

In [6]:
lst=[1,3,5,"sri","prakash"]
print(lst[3])
lst[3]=6
print(lst)

sri
[1, 3, 5, 6, 'prakash']

In [7]:
lst[4][3] #indexing

'k'

In [8]:
#Another way of defining list
a=list()
type(a)

list

In [9]:
a=list((1,2,3,4))
type(a)

list

In [10]:
ls=[1,2,3,4]
for i in ls:
    print(i*2)

2
4
6
8

Inbulit functions for list

In [11]:
lst=[1,2,3,4,5]
print(len(lst))  #length of list
print(max(lst))  #maximun number in list
print(min(lst))  #minimum number in lsit
type(lst)        #datatype

5
5
1

list

# Append
Adds element at last

In [12]:
lst=[1,2,3,4,5]

In [13]:
lst.append('sri')  #adds a string to a list
lst

[1, 2, 3, 4, 5, 'sri']

In [14]:
lst.append(['prakash','L'])  #adds a list to list
lst

[1, 2, 3, 4, 5, 'sri', ['prakash', 'L']]

In [15]:
#indexing
lst[3]

4

In [16]:
lst[6][0]

'prakash'

In [17]:
lst[6][0][6]

'h'

In [18]:
lst[:]

[1, 2, 3, 4, 5, 'sri', ['prakash', 'L']]

In [19]:
lst[1:3]

[2, 3]

# Insert
Inset in specific order

In [20]:
lst=[1,2,3,4,5]

In [21]:
lst.insert(2,'sri')
lst

[1, 2, 'sri', 3, 4, 5]

In [22]:
lst.insert(3,4)
lst

[1, 2, 'sri', 4, 3, 4, 5]

# Extend

In [23]:
lst=[1,2,3,4,5]

In [24]:
lst.extend([6,7])
lst

[1, 2, 3, 4, 5, 6, 7]

In [25]:
lst=[1,2,3,4,5]

In [26]:
lst.append([6,7])   #differencr btw append and extend
print(lst)

[1, 2, 3, 4, 5, [6, 7]]

Various Operations that we can perform in List

In [27]:
lst=[1,2,3,4,5]

In [28]:
sum(lst)

15

In [29]:
lst*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# POP

In [30]:
lst=[1,2,3,4,5]

In [31]:
lst.pop()

5

In [32]:
lst

[1, 2, 3, 4]

# Count
Calculates total occurrence of given element of List

In [33]:
lst=[1,2,3,4,5,1,2]

In [34]:
lst.count(2)

2

# SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [35]:
#defining a set

a=set([1,2,3,4])
type(a)

set

In [36]:
a={1,2,3,4}
type(a)

set

In [37]:
#duplicates 
a={1,2,3,3,4,5,4,5,1}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [38]:
#accessing element in set through indexing is not possible rather use for loop tpo show data

a={1,2,3,4,5}
a[0]

TypeError: 'set' object is not subscriptable

In [39]:
for i in a:
    print(i)

1
2
3
4
5

Inbuilt function in sets

In [40]:
#add
a={1,2,3,4,5}
a.add(0)
a

{0, 1, 2, 3, 4, 5}

In [41]:
#intersection
a={'sri','prakash','DBIT','Continental'}
b={'sri','prakash'}
a.intersection_update(b)
print(a)

{'sri', 'prakash'}

In [42]:
#difference
a={'sri','prakash','DBIT','Continental'}
b={'sri','prakash'}
a.difference_update(b)
print(a)

{'DBIT', 'Continental'}

# Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [43]:
#defining a Dict

In [44]:
type({})

dict

In [45]:
type({1})

set

In [46]:
type({1:'sri'})

dict

In [47]:
dict(name='sri',age=25)

{'name': 'sri', 'age': 25}

In [48]:
#indexing

In [49]:
a={"company1":'continental','company2':'electrobit','company3':'vitesco'}
a

{'company1': 'continental', 'company2': 'electrobit', 'company3': 'vitesco'}

In [50]:
a['company1']

'continental'

In [51]:
# We can even loop throught the dictionaries keys
for x in a:
    print(x)   #default it prints keys

company1
company2
company3

In [52]:
# We can even loop throught the dictionaries values
for x in a.values():
    print(x)

continental
electrobit
vitesco

In [53]:
# We can also check both keys and values
for x in a.items():
    print(x)

('company1', 'continental')
('company2', 'electrobit')
('company3', 'vitesco')

In [54]:
# Adding items in Dictionaries
a['company4']='Bosch'
a

{'company1': 'continental',
 'company2': 'electrobit',
 'company3': 'vitesco',
 'company4': 'Bosch'}

# Nested Dictionary

In [55]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

In [56]:
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [57]:
# Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [58]:
print(car_type['car1']['Mercedes'])

1960

# Tuples

In [59]:
# create an empty Tuples

In [60]:
a=(1,2)
type(a)

tuple

In [61]:
a=('sri','prakash')
print(type(a))
print(a)

<class 'tuple'>
('sri', 'prakash')

In [62]:
#indexing
a[1]

'prakash'

In [63]:
#assigning cant be done
a[1]='l'

TypeError: 'tuple' object does not support item assignment

In [64]:
#built in functions

In [65]:
a.count('sri')

1

In [66]:
a.index('sri')

0

# Boolean
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [67]:
print(True,False)

True False

In [68]:
type(True)

bool

In [69]:
type(False)

bool

In [70]:
my_str='SriPrakash23'

In [71]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('3')) #test if string endswith 3
print(my_str.startswith('S')) #test if string startswith S

True
False
False
False
False
False
False
True
True

Boolean and Logical Operators

In [72]:
True and True

True

In [73]:
True and False

False

In [74]:
True or False

True

In [75]:
True or True

True

In [76]:
str_example='Hello World'
my_str='SriPrakash23'

In [77]:
my_str.isalpha() or str_example.isalnum()

False